.detail
  font-size 35px
  background-color #242342
  .header
    width 100%
    height 6vh
    margin 0 2vh
    color white
    text-align center
    position relative
    &>.back
      line-height 6vh
      position absolute
      left 0
  .movie-info
    margin 0 2vh
    .item1
      height 38vh
      .movie-detail
        background-color #fff
        border-radius 2vh
        height 30vh
        display flex
        justify-content space-around
        align-items center
        .cover
          height 28vh
          width 22vh
          padding 0 6vh
        .info
          min-width 50%
          font-size 3vh
          .name
            font-weight bold
          .desc-info
            display flex
            flex-direction column
      .action
        display flex
        justify-content space-around
        align-items center
        background-color #fff
        border-radius 2vh
        height 8vh
        .btn 
          border-radius 3vh
          background-color #ffb400
          color white
          padding 1vh 6vh

    .item2
    .item3
      margin 2vh 0
      padding 1vh 2vh
      background-color #3a3a52
      font-size 3vh
      color white
      border-radius 2vh
      .titles
      .rate
        padding 2vh 0
        display flex
        justify-content space-between
        align-items center
        .score 
          color gold
    .item3
      background-color #3a3a52
  .comments
    border-radius 4vh 4vh 0 0
    background-color #fff
    padding 0 2vh
    .comment-header
      padding 1vh 0
      display flex
      justify-content space-between
      .title
        font-weight bold
        font-size 40px
      .do-comment
        background-color red
        color white
        border-radius 1vh
    .comment-list
      .comment-item
        display flex
        margin 2vh 0
        .avatar
          width 8vh
          height 8vh
          border-radius 5vh
          margin-right 3vh
        .info
          width 85vh
          display flex
          flex-direction column
          .rate
            font-size 26px
            color #ccc
          .bottom
            display flex
            justify-content space-between
  .buy-wrapper
    position fixed
    bottom 0
    width 100%
    text-align center
    .buy 
      box-sizing border-box
      padding 1vh 35%
      border-radius 50px
      background-color red
      color white