.movie-item
  display flex
  justify-content space-between
  align-items center
  padding 0 2vh 2vh 2vh
  .info
    min-width 60%
    font-size 3vh
    .name
      font-weight bold
    .desc-info
      display flex
      flex-direction column
      .number
        color gold
  .buy
    font-size 3vh
    color #ffffff
    background-color red
    padding 1px 10px
    border-radius 15px

   