.cinema
  .cinema-item
    display flex
    flex-direction column
    padding 2vh 5vh
    .detail
      font-size 28px
    .tags
      font-size 24px
      color #5bd2a3 
      .tag
        border 1px #5bd2a3 solid
        border-radius 10px
        margin-right 1vh
